{{#if operationTypes }} 
    <div class="row">
        <div class="col-6">
            <table class="table table-sm table-bordered">
                <tr>
                    <th class="text-end">ID</th>
                    <th>Title</th>
                    <th class="text-center">Direction</th>
                    <th class="text-center">Car cost</th>
                    <th class="text-center">Activity</th>
                    <th></th>
                </tr>
            {{#each operationTypes }}
                {{#with this.dataValues}}
                <tr id="row-id-{{ id }}">
                    <td class="text-end">{{ id }}</td>
                    <td>{{ title }}</td>
                    <td class="text-center">{{ direction }}</td>
                    <td class="text-center">
                        <input class="form-check-input" type="checkbox" name="is_car_cost" {{#if is_car_cost }}checked{{/if}} disabled />
                    </td>
                    <td class="text-center">
                        <input class="form-check-input" type="checkbox" name="activity" {{#if activity }}checked{{/if}} disabled />
                    </td>
                    <td class="text-center">
                        <a href="#" title="Edit" class="{{#unless ../../access}} disabled{{/unless}}" data-bs-toggle="modal" data-bs-target="#modal-edit">
                            <i class="bi bi-gear btn-modal-edit" data-btn-modal-id="{{ id }}"></i>
                        </a>
                    </td>
                </tr>
                {{/with}}
            {{/each}}
            </table>
        </div>
    </div>
{{/if }}

<button type="button" id="btn-modal" class="btn btn-sm btn-primary{{#unless access}} disabled{{/unless}}" 
    data-bs-toggle="modal" data-bs-target="#modal-edit">
        <i class="bi bi-plus-square"></i> Add
</button>

<div class="modal" id="modal-edit">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/operation-types/create" method="POST" id="form-edit">
                <div class="modal-header">
                    <h5 class="modal-title">Operation type</h5>
                    <button type="button" class="btn-sm btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="title" class="form-label">Title</label>
                        </div>
                        <div class="col">
                            <input type="text" id="title" name="title" class="form-control form-control-sm" />   
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="is_car_cost" class="form-label">Car cost</label>
                        </div>
                        <div class="col-3">
                            <input class="form-check-input" type="checkbox" id="is_car_cost" name="is_car_cost" />
                        </div>
                    </div>
                    <div class="row mb-3 rounded py-2 bg-whitesmoke">
                        <div class="col-3 small">
                            Direction
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="direction" id="direction-in" value="in" checked>
                                <label class="form-check-label" for="direction-in">
                                    In
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="direction" id="direction-out" value="out">
                                <label class="form-check-label" for="direction-out">
                                    Out
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-3">
                            <label for="activity" class="form-label">Activity</label>
                        </div>
                        <div class="col-3">
                            <input class="form-check-input" type="checkbox" name="activity" id="activity" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" id="button-submit" class="btn btn-sm btn-primary" disabled>
                        <i class="bi bi-save2"></i> Save
                    </button>
                </div>
                <input type="hidden" name="id" value="" id="hidden-id" />
            </form>
        </div>
    </div>
</div>
{{{ script }}}
