{{#if users}}
    <div class="row">
        <div class="col-4">
            <table class="table table-sm table-bordered">
                <tr>
                    <th class="text-end">ID</th>
                    <th>Login</th>
                    <th>Role</th>
                    <th class="text-center">Activity</th>
                    <th colspan="2"></th>
                </tr>
                {{#each users}}
                    {{#with this.dataValues}}
                    <tr>
                        <td class="text-end">{{ id }}</td>
                        <td>{{ username }}</td>
                        <td>{{ Role.dataValues.title }}</td>
                        <td class="text-center">
                        {{#if activity }}
                            <i class="bi bi-check-square"></i>
                        {{else}}
                            <span class="text-muted">
                                <i class="bi bi-square"></i>
                            </span>
                        {{/if}}
                        </td>
                        <td class="text-center">
                            <a href="/users/{{ id }}/edit" class="{{#unless ../../access}}disabled{{/unless}}" title="Правка">
                                <i class="bi bi-gear"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="/users/{{ id }}/pwd" class="{{#unless ../../access}}disabled{{/unless}}" title="Пароль"> 
                                <i class="bi bi-key-fill"></i>
                            </a>
                        </td>
                    </tr>
                    {{/with}}
                {{/each}}
            </table>
        </div>
    </div>            
{{/if }}
<div class="d-flex justify-content-start my-3">
    <a href="/users/create" class="btn btn-sm btn-75 btn-primary{{#unless access}} disabled{{/unless}}">
        <i class="bi bi-plus-square"></i> Create
    </a>
</div>
