<div class="row">
    <div class="col">
        <div class="card">
            <form action="/lots/edit" method="POST">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="stock_id" class="form-label">Stock No</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-control-sm" id="stock_id" 
                                        name="stock_id" value="{{ lot.stock_id }}" readonly />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="number_id" class="form-label">Lot number</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-control-sm" id="number_id" 
                                        name="number_id" value="{{ lot.number_id }}" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="account_id" class="form-label">Account</label>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-sm form-select-required" id="account_id" name="account_id">
                                        <option value="">Select...</option>
                                        {{#each accounts }}
                                            <option value="{{ this.dataValues.id }}" 
                                                {{#if (equals this.dataValues.id ../lot.account_id)}} selected{{/if}} 
                                            >{{ this.dataValues.title }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="brand_id" class="form-label">Brand</label>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-sm form-select-required" id="brand_id" name="brand_id">
                                        <option value="">Select...</option>
                                        {{#each brands}}
                                            <option value="{{ this.dataValues.id }}"
                                                 {{#if (equals this.dataValues.id ../lot.Model.dataValues.brand_id)}} selected{{/if}} 
                                            >{{ this.dataValues.title }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="model_id" class="form-label">Model</label>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-sm" id="model_id" name="model_id">
                                    {{#each models}}
                                        <option value="{{ this.dataValues.id }}"
                                             {{#if (equals this.dataValues.id ../lot.model_id)}} selected{{/if}} 
                                        >{{ this.dataValues.title }}</option>
                                    {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="vin" class="form-label">Vin</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-control-sm form-input-text-required" id="vin" 
                                        name="vin" value="{{ lot.vin }}" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="state" class="form-label">Condition</label>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-sm" id="state" name="state">
                                        {{#each states }}
                                            <option value="{{ this.dataValues.title }}" 
                                                {{#if (equals this.dataValues.title ../lot.state)}} selected{{/if}} 
                                            >{{ this.dataValues.title }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="year" class="form-label">Year</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-control-sm form-input-number-required" id="year" 
                                        name="year" value="{{ lot.year }}" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="mileage" class="form-label">Mileage</label>
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control form-control-sm" id="mileage" 
                                        name="mileage" value="{{ lot.mileage }}" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="status_id" class="form-label">Status</label>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-sm" id="lot_status_id" name="lot_status_id">
                                    {{#each lotStatuses}}
                                        <option value="{{ this.dataValues.id }}"
                                            {{#if (equals this.dataValues.id ../lot.lot_status_id)}} selected{{/if}} 
                                        >{{ this.dataValues.title }}</option>
                                    {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="activity" class="form-label small">Activity</label>
                                </div>
                                <div class="col">
                                    <input class="form-check-input" type="checkbox" name="activity" {{#if lot.activity }}checked{{/if}} />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="vehicle_style_id" class="form-label">Vehicle style</label>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-sm form-select-required" id="vehicle_style_id" name="vehicle_style_id">
                                        <option value="">Select...</option>
                                        {{#each vehicleStyles }}
                                            <option value="{{ this.dataValues.id }}" 
                                                {{#if (equals this.dataValues.id ../lot.vehicle_style_id)}} selected{{/if}} 
                                            >{{ this.dataValues.title }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>    
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="drivetrain" class="form-label">Drivetrain</label>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-sm" id="drivetrain" name="drivetrain">
                                        <option value="">Select...</option>
                                        {{#each drivetrains }}
                                            <option value="{{ this.dataValues.title }}" 
                                                {{#if (equals this.dataValues.title ../lot.drivetrain)}} selected{{/if}} 
                                            >{{ this.dataValues.title }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="transmission" class="form-label">Transmission</label>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-sm" id="transmission" name="transmission">
                                        <option value="">Select...</option>
                                        {{#each transmissions }}
                                            <option value="{{ this.dataValues.title }}" 
                                                {{#if (equals this.dataValues.title ../lot.transmission)}} selected{{/if}} 
                                            >{{ this.dataValues.title }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="engine" class="form-label">Engine</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-control-sm" id="engine" 
                                        name="engine" value="{{ lot.engine }}" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="horsepower" class="form-label">Horsepower</label>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control form-control-sm" id="horsepower" 
                                        name="horsepower" value="{{ lot.horsepower }}" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="fuel_type" class="form-label">Fuel type</label>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-sm" id="fuel_type" name="fuel_type">
                                        <option value="">Select...</option>
                                        {{#each fuelTypes }}
                                            <option value="{{ this.dataValues.title }}" 
                                                {{#if (equals this.dataValues.title ../lot.fuel_type)}} selected{{/if}} 
                                            >{{ this.dataValues.title }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-5">
                                    <label for="mpg_city" class="form-label">City gas mileage</label>
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control form-control-sm" id="mpg_city" 
                                        name="mpg_city" value="{{ lot.mpg_city }}" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-5">
                                    <label for="mpg_highway" class="form-label">Highway gas mileage</label>
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control form-control-sm" id="mpg_highway" 
                                        name="mpg_highway" value="{{ lot.mpg_highway }}" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="exterior_color" class="form-label">Exterior color</label>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-sm" id="exterior_color" name="exterior_color">
                                        <option value="">Select...</option>
                                        {{#each colors }}
                                            <option value="{{ this.dataValues.title }}" 
                                                {{#if (equals this.dataValues.title ../lot.exterior_color)}} selected{{/if}} 
                                            >{{ this.dataValues.title }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="interior_color" class="form-label">Interior color</label>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-sm" id="interior_color" name="interior_color">
                                        <option value="">Select...</option>
                                        {{#each colors }}
                                            <option value="{{ this.dataValues.title }}" 
                                                {{#if (equals this.dataValues.title ../lot.interior_color)}} selected{{/if}} 
                                            >{{ this.dataValues.title }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">
                                    <label for="doors" class="form-label">Doors</label>
                                </div>
                                <div class="col">
                                    <select class="form-select form-select-sm" id="doors" name="doors">
                                        <option value="">Select...</option>
                                        {{#each doors }}
                                            <option value="{{ this.dataValues.title }}" 
                                                {{#if (equals this.dataValues.title ../lot.doors)}} selected{{/if}} 
                                            >{{ this.dataValues.title }}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="abs_brakes" class="form-label small">ABS brakes</label>
                                    <input class="form-check-input" type="checkbox" name="abs_brakes" id="abs_brakes" {{#if lot.abs_brakes }}checked{{/if}} />
                                </div>
                                <div class="col-6">
                                    <label for="backup_camera" class="form-label small">Backup camera</label>
                                    <input class="form-check-input" type="checkbox" name="backup_camera" id="backup_camera" {{#if lot.backup_camera }}checked{{/if}} />
                               </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="blind_spot_monitoring" class="form-label small">Blind spot monitoring</label>
                                    <input class="form-check-input" type="checkbox" name="blind_spot_monitoring" id="blind_spot_monitoring" {{#if lot.blind_spot_monitoring }}checked{{/if}} />
                                </div>
                                <div class="col-6">
                                    <label for="curtain_airbags" class="form-label small">Curtain airbags</label>
                                    <input class="form-check-input" type="checkbox" name="curtain_airbags" id="curtain_airbags" {{#if lot.curtain_airbags }}checked{{/if}} />
                               </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="driver_airbag" class="form-label small">Driver airbag</label>
                                    <input class="form-check-input" type="checkbox" name="driver_airbag" id="driver_airbag" {{#if lot.driver_airbag }}checked{{/if}} />
                                </div>
                                <div class="col-6">
                                    <label for="front_side_airbags" class="form-label small">Front side airbags</label>
                                    <input class="form-check-input" type="checkbox" name="front_side_airbags" id="front_side_airbags" {{#if lot.front_side_airbags }}checked{{/if}} />
                               </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="parking_sensors" class="form-label small">Parking sensors</label>
                                    <input class="form-check-input" type="checkbox" name="parking_sensors" id="parking_sensors" {{#if lot.parking_sensors }}checked{{/if}} />
                                </div>
                                <div class="col-6">
                                    <label for="passenger_airbag" class="form-label small">Passenger airbag</label>
                                    <input class="form-check-input" type="checkbox" name="passenger_airbag" id="passenger_airbag" {{#if lot.passenger_airbag }}checked{{/if}} />
                               </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="alloy_wheels" class="form-label small">Alloy wheels</label>
                                    <input class="form-check-input" type="checkbox" name="alloy_wheels" id="alloy_wheels" {{#if lot.alloy_wheels }}checked{{/if}} />
                                </div>
                                <div class="col-6">
                                    <label for="bluetooth" class="form-label small">Bluetooth</label>
                                    <input class="form-check-input" type="checkbox" name="bluetooth" id="bluetooth" {{#if lot.bluetooth }}checked{{/if}} />
                               </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="heated_seats" class="form-label small">Heated seats</label>
                                    <input class="form-check-input" type="checkbox" name="heated_seats" id="heated_seats" {{#if lot.heated_seats }}checked{{/if}} />
                                </div>
                                <div class="col-6">
                                    <label for="leather_seats" class="form-label small">Leather seats</label>
                                    <input class="form-check-input" type="checkbox" name="leather_seats" id="leather_seats" {{#if lot.leather_seats }}checked{{/if}} />
                               </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="navigation_system" class="form-label small">Navigation system</label>
                                    <input class="form-check-input" type="checkbox" name="navigation_system" id="navigation_system" {{#if lot.navigation_system }}checked{{/if}} />
                                </div>
                                <div class="col-6">
                                    <label for="sunroof_moonroof" class="form-label small">Sunroof moonroof</label>
                                    <input class="form-check-input" type="checkbox" name="sunroof_moonroof" id="sunroof_moonroof" {{#if lot.sunroof_moonroof }}checked{{/if}} />
                               </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="technology_package" class="form-label small">Technology package</label>
                                    <input class="form-check-input" type="checkbox" name="technology_package" id="technology_package" {{#if lot.technology_package }}checked{{/if}} />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="description" class="form-label small">Description</label>
                                    <textarea class="form-control form-control-sm" 
                                        id="description" name="description">{{ lot.description }}</textarea> 
                                </div> 
                             </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="/lots" class="btn btn-sm btn-primary">
                        <i class="bi bi-arrow-left-square"></i> Cancel
                    </a>
                    <button type="submit" id="button-submit" class="btn btn-sm btn-primary">
                        <i class="bi bi-save2"></i> Save
                    </button>
                </div>
                <input type="hidden" name="id" value="{{ lot.id }}" />
            </form>
        </div>
    </div>
</div>
{{{ script }}}